body{
    font-family: Arial, sans-serif;
    padding: 20px;
}
section{
    margin-bottom: 40px;
}
h1,h2 {
    margin-bottom: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: lightslategray;
    padding: 15px;
}
.navbar a {
    color: lightgray;
    text-decoration: none;
    padding: 10px 20px;
}
.navbar a:hover{
    background-color: #555;
    border-radius: 5px;
}
.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    flex:  1 1 250px;
    background-color: lightslategray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.card p {
    flex-grow: 1;
}
.card button{
    align-self: flex-start;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.card button:hover{
    background-color: darkblue;
}
.centered-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: lightgrey;
}
.centered-content{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0,0,0.2);
}